// Page header
.home #masthead nav {
	height: 40vh;
   min-height: 375px;

	.top-bar-title {
		bottom: 175px;
	}

	.top-bar-right {
		bottom: 115px;
		top: initial;
	}
}

.home .container {
   overflow: hidden;
}

.home section.intro {
	@include grid-row();
   overflow: visible;

  	.entry-content {
    	@include breakpoint(small) {
      	@include grid-column(12);
    }

    	@include breakpoint(medium) {
      		@include grid-column(12);
    	}
  	}

   h1 {
      font-size: 4rem;
      line-height: 1.2;

      .red, .blue {
         color: $white;
         padding: 0.5rem 1rem 0;
      }

      .red {
         background: $primary-color;
      }

      .blue {
         background: $secondary-color;
      }
   }

   .flex-video {
      overflow: visible;
      position: relative;
      margin-top: 1.5rem;

      // &::before, &::after {
      //    content: '';
      //    display: block;
      //    position: absolute;
      //    background-size: 100% 100%;
      // }
      //
      // &::after {
      //    left: 65%;
      //    top: 55%;
      //    width: 60%;
      //    height: 60%;
      // }
      //
      // &::before {
      //    left: -14%;
      //    top: -15%;
      //    width: 50%;
      //    height: 50%;
      // }
   }

  	.row {
      position: relative;
      margin-bottom: 3rem;

      h2 {
         font-size: 5.5rem;
         color: $black;
         padding-top: 0.3em;

         &::after {
            @include breakpoint(medium) {
               @include grid-column(5);
            }
            content: '';
            position: absolute;
            background-repeat: no-repeat;
            background-size: 100%;
            background-position: 50% 50%;
            transition: 0.3s;
         }
      }

      &:hover h2::after {
         filter: drop-shadow(2px 2px 0 $primary-color);
      }

      &:hover h2:hover::after {
         filter: drop-shadow(2px 2px 0 $secondary-color);
      }

      img {
         position: absolute;
         top: 3rem;
         right: 0;
      }

      p {
         padding-top: 1rem;
         background: transparent;
         line-height: 1.8;
         text-align: right;
         padding-bottom: 2em;
         border-bottom: 15px solid $primary-color;
      }

      &.wohnen, &.nachhaltigkeit {
         h2 {
            // padding-left: 5rem;

            &::after {
               right: 0.5rem;
               height: 15rem;
               top: 3rem;
            }
         }
         p {
            text-align: left;
         }
      }

      &.bildung, &.selbstverwaltung {
         h2 {
            // padding-right: 4rem;
            text-align: right;

            &::after {
               left: 0.5rem;
               height: 15rem;
               top: 3rem;
            }
         }
      }
  	}
}

.brochure_button {
   display: none;
}

.home .brochure_button {
   position: absolute;
   display: block;
   top: 1em;
   // background: $primary-color;
   font-weight: $global-weight-bold;
   font-size: 16px;
   line-height: 15px;
   text-align: center;
   color: $white;
   border-radius: 50%;
   padding: 40px 10px;
}
