// Page header
//.home #masthead nav {
//	height: 80vh;
//	max-height: 700px;
//
//	.top-bar-title {
//		top: 10vh;
//	}
//
//	.top-bar-right {
//		bottom: 30vh;
//		top: initial;
//	}
//}

.home .container {
   overflow: hidden;
}

.home section.intro {
	@include grid-row();
	margin-top: 3rem;
   overflow: visible;

  	.entry-content {
    	@include breakpoint(small) {
      	@include grid-column(12);
    }

    	@include breakpoint(medium) {
      		@include grid-column(12);
    	}
  	}

   h1 {
      font-size: 4rem;
      line-height: 1.2;

      .red, .blue {
         color: $white;
         padding: 0.5rem 1rem 0;
      }

      .red {
         background: $primary-color;
      }

      .blue {
         background: $secondary-color;
      }
   }

   .flex-video {
      overflow: visible;
      position: relative;

      &::before, &::after {
         content: '';
         display: block;
         position: absolute;
         background-size: 100% 100%;
      }

      &::after {
         left: 77%;
         top: 76%;
         width: 50%;
         height: 50%;
      }

      &::before {
         left: -14%;
         top: -15%;
         width: 50%;
         height: 50%;
      }
   }

  	.row {
      position: relative;
      margin-bottom: 3rem;

      h2 {
         background: $secondary-color;
         transition: 0.3s;
         // border-color: $secondary-color;
         // border-width: 3px 3px 0 3px;
         // border-style: dashed;
         font-size: 5rem;
         color: $white;
         // color: $black;
         padding-top: 0.3em;

         &:hover {
            background: $primary-color;
            // border-color: $primary-color;
         }

         &::after {
            @include breakpoint(medium) {
               @include grid-column(5);
          	}
            content: '';
            position: absolute;
            background-repeat: no-repeat;
            background-size: 100%;
            background-position: 50% 50%;
         }
      }

      img {
         position: absolute;
         top: 3rem;
         right: 0;
      }

      p {
         padding-top: 1rem;
         background: transparent;
         line-height: 1.8;
         text-align: right;
      }

      &.wohnen, &.nachhaltigkeit {
         h2 {
            padding-left: 5rem;

            &::after {
               right: 0.5rem;
               height: 15rem;
               top: 3rem;
            }
         }
         p {
            text-align: left;
         }
      }

      &.bildung, &.selbstverwaltung {
         h2 {
            padding-right: 4rem;
            text-align: right;

            &::after {
               left: 0.5rem;
               height: 15rem;
               top: 3rem;
            }
         }
      }
  	}
}
