#page {
  @include grid-row();
  margin-top: 3rem;

  .entry-title {
    text-align: center;
  }

  .main-content {
    @include breakpoint(small) {
      @include grid-column(12);
    }

    @include breakpoint(medium) {
      @include grid-column(12);
    }
  }
}

.voigl_delimiter {
  height: 0.2rem;
  width: 100%;
  margin: 2rem 0;
  background: $light-gray;
  position: relative;

  img {
    @include absolute-center;
    width: 80px;
    background: $white;
    border: 10px solid $white;
    box-shadow: none;
  }
}
