.entry-content {

	iframe, img {
		border: solid 4px $white;
		box-shadow: 0 0 0 1px rgba($black, 0.2);
	}

	img {
		margin: 0.5em 1em 1.5em 1em;
	}

	.orbit img {
		margin:0 ;
	}

	img.alignright {
		padding: 0;
	}
	img.alignleft {
		padding: 0;
	}
}
