/* *** UNTERSTÜTZER *** */
.supporter {
    @include grid-column(12);

    @include breakpoint(medium) {
      @include grid-column(6);
    }

    padding: 10px 1%;
    //box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);

  &:hover {
    box-shadow: 0 1px 4px rgba($secondary-color, 0.3);
  }

  a {
    @include grid-column(5, 0);
    height: 100px;
  }

  img {
    @include absolute-center;
    max-height: 100%;
    max-width: 100%;
    margin: 0;
    box-shadow: none;
  }

  div {
    @include grid-column(7, 10px);
    font-size: 0.9em;
  }
}
/* *** UNTERSTÜTZER ENDE *** */